export(ebird_geo)
export(ebird_hotspot)
export(ebird_loc)
export(ebird_notable)
export(ebird_recent)
export(geo_recent)
export(geo_spprecent)
export(hotspot_recent)
export(hotspot_spprecent)
export(loc_recent)
export(loc_spprecent)
export(nearestobs)
export(region_recent)
export(region_spprecent)
import(plyr)
import(RCurl)
import(RJSONIO)
