http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ip": "redacted",
          "hostname": "redacted",
          "city": "Wellington",
          "region": "Wellington Region",
          "country": "NZ",
          "loc": "-41.2866,174.7756",
          "org": "redacted",
          "postal": "6021",
          "timezone": "Pacific/Auckland",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: 2024-10-04 01:00:32 GMT
  recorded_with: vcr/1.6.0, webmockr/0.9.0
