http_interactions:
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/list/country/world
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"code":"AF","name":"Afghanistan"},{"code":"AL","name":"Albania"},{"code":"DZ","name":"Algeria"},{"code":"AS","name":"American
        Samoa"},{"code":"AD","name":"Andorra"},{"code":"AO","name":"Angola"},{"code":"AI","name":"Anguilla"},{"code":"AQ","name":"Antarctica"},{"code":"AG","name":"Antigua
        and Barbuda"},{"code":"AR","name":"Argentina"},{"code":"AM","name":"Armenia"},{"code":"AW","name":"Aruba"},{"code":"AC","name":"Ashmore
        and Cartier Islands"},{"code":"AU","name":"Australia"},{"code":"AT","[...]
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/info/BZ?regionNameFormat=full
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"bounds":{"minX":-89.2241749999999,"maxX":-87.485969,"minY":15.892658,"maxY":18.497289},"result":"Belize","code":"BZ","type":"country","longitude":-88.35507199999995,"latitude":17.1949735}'
  recorded_at: 2024-03-07 06:16:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/list/subnational1/BZ
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"code":"BZ-BZ","name":"Belize"},{"code":"BZ-CY","name":"Cayo"},{"code":"BZ-CZL","name":"Corozal"},{"code":"BZ-OW","name":"Orange
        Walk"},{"code":"BZ-SC","name":"Stann Creek"},{"code":"BZ-TOL","name":"Toledo"}]'
  recorded_at: 2024-03-07 06:16:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/info/US-RI?regionNameFormat=full
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"bounds":{"minX":-71.886963,"maxX":-71.1206129999999,"minY":41.146878,"maxY":42.019101},"result":"Rhode
        Island, United States","code":"US-RI","type":"subnational1","parent":{"result":"United
        States","code":"US","type":"country","longitude":0.0,"latitude":0.0},"longitude":-71.50378799999996,"latitude":41.5829895}'
  recorded_at: 2024-03-07 06:16:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/list/subnational2/US-RI
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"code":"US-RI-001","name":"Bristol"},{"code":"US-RI-003","name":"Kent"},{"code":"US-RI-005","name":"Newport"},{"code":"US-RI-007","name":"Providence"},{"code":"US-RI-009","name":"Washington"}]'
  recorded_at: 2024-03-07 06:16:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/info/foo?regionNameFormat=full
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 500
      category: Server error
      reason: Internal Server Error
      message: 'Server error: (500) Internal Server Error'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"errors":[{"status":"500","code":"http.status.500","title":"No message
        found under code ''foo'' for locale ''en_US''."}]}'
  recorded_at: 2024-03-07 06:16:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/info/US-RI-005?regionNameFormat=full
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"bounds":{"minX":-71.4032979999999,"maxX":-71.1206129999999,"minY":41.446979,"maxY":41.678261},"result":"Newport,
        Rhode Island, United States","code":"US-RI-005","type":"subnational2","parent":{"result":"Rhode
        Island, United States","code":"US-RI","type":"subnational1","parent":{"result":"United
        States","code":"US","type":"country","longitude":0.0,"latitude":0.0},"longitude":0.0,"latitude":0.0},"longitude":-71.2619554999999,"latitude":41.562619999999995}'
  recorded_at: 2024-03-07 06:16:07 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
