http_interactions:
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/hotspot/recent?fmt=json&maxResults=3&r=L99381&includeProvisional=true
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"speciesCode":"cangoo","comName":"Canada Goose","sciName":"Branta
        canadensis","locId":"L99381","locName":"Stewart Park","obsDt":"2024-03-05
        16:38","howMany":2,"lat":42.460791,"lng":-76.5068525,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S163830741"},{"speciesCode":"mallar3","comName":"Mallard","sciName":"Anas
        platyrhynchos","locId":"L99381","locName":"Stewart Park","obsDt":"2024-03-05
        16:38","howMany":2,"lat":42.460791,"lng":-76.5068525,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S163830741"},{"speciesCode":"commer","comName":"Common
        Merganser","sciName":"Mergus merganser","locId":"L99381","locName":"Stewart
        Park","obsDt":"2024-03-05 16:38","howMany":2,"lat":42.460791,"lng":-76.5068525,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S163830741"}]'
  recorded_at: 2024-03-06 06:34:11 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/hotspot/recent?fmt=json&back=40&r=L99381
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"errors":[{"status":"400 BAD_REQUEST","code":"error.data.too_many_back","title":"Field
        back of rawDataCmd: The maximum number of days back is 30"}]}'
  recorded_at: 2024-03-06 06:34:11 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
