http_interactions:
- request:
    method: get
    uri: https://ebird.org/ws2.0/product/lists/L207391/2020/03/24?maxResults=200
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"locId":"L207391","subId":"S66174580","userDisplayName":"David Wood","numSpecies":10,"obsDt":"24
        Mar 2020","obsTime":"14:47","isoObsDate":"2020-03-24 14:47","subID":"S66174580","loc":{"locId":"L207391","name":"Mount
        Auburn Cemetery","latitude":42.371,"longitude":-71.146,"countryCode":"US","countryName":"United
        States","subnational1Name":"Massachusetts","subnational1Code":"US-MA","subnational2Code":"US-MA-017","subnational2Name":"Middlesex","isHotspot":true,"locName":"Mount
        Auburn Cemetery","lat":42.371,"lng":-71.146,"hierarchicalName":"Mount Auburn
        Cemetery, Middlesex, Massachusetts, US","locID":"L207391"}},{"locId":"L207391","subId":"S66173590","userDisplayName":"Sofia
        Prado-Irwin","numSpecies":15,"obsDt":"24 Mar 2020","obsTime":"14:31","isoObsDate":"2020-03-24
        14:31","subID":"S66173590","loc":{"locId":"L207391","name":"Mount Auburn Cemetery","latitude":42.371,"longitude":-71.146,"countryCode":"US","countryName":"United
        States","subnational1Name":"Massachusetts","subnational1Code":"US-MA","subnational2Code":"US-MA-017","subnational2Name":"Middlesex","isHotspot":[...]
- request:
    method: get
    uri: https://ebird.org/ws2.0/product/lists/LL207391/2020/03/25?maxResults=10
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"errors":[{"status":"400 BAD_REQUEST","code":"methodInvocation","title":"Field
        regionCode of recListsCmd: Property regionCode threw exception; nested exception
        is java.lang.IllegalArgumentException: Unable to find matching region type
        for LL207391"}]}'
  recorded_at: 2024-01-17 06:27:49 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
