http_interactions:
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/info/US?regionNameFormat=full
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"bounds":{"minX":-179.150558,"maxX":179.773408,"minY":18.909858,"maxY":71.390685},"result":"United
        States","code":"US","type":"country","longitude":0.31142499999999984,"latitude":45.1502715}'
  recorded_at: 2024-03-07 06:26:33 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/hotspot/info/L99381?regionNameFormat=full
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"locId":"L99381","name":"Stewart Park","latitude":42.460791,"longitude":-76.5068525,"countryCode":"US","countryName":"United
        States","subnational1Name":"New York","subnational1Code":"US-NY","subnational2Code":"US-NY-109","subnational2Name":"Tompkins","isHotspot":true,"locName":"Stewart
        Park","lat":42.460791,"lng":-76.5068525,"hierarchicalName":"Stewart Park,
        Tompkins, New York, US","locID":"L99381"}'
  recorded_at: 2024-03-07 06:26:33 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/info/foo?regionNameFormat=full
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 500
      category: Server error
      reason: Internal Server Error
      message: 'Server error: (500) Internal Server Error'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"errors":[{"status":"500","code":"http.status.500","title":"No message
        found under code ''foo'' for locale ''en_US''."}]}'
  recorded_at: 2024-03-07 06:26:33 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/info/CA-BC-ZZ?regionNameFormat=full
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"code":"CA-BC-ZZ","type":"subnational2","parent":{"result":"British
        Columbia, Canada","code":"CA-BC","type":"subnational1","parent":{"result":"Canada","code":"CA","type":"country","longitude":0.0,"latitude":0.0},"longitude":0.0,"latitude":0.0},"longitude":0.0,"latitude":0.0}'
  recorded_at: 2024-03-07 06:26:33 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
