http_interactions:
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/geo/recent/notable?maxResults=2&lat=42&lng=-70&dist=50
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"speciesCode":"marwre","comName":"Marsh Wren","sciName":"Cistothorus
        palustris","locId":"L5187014","locName":"Sandy Neck--Gate House","obsDt":"2024-03-13
        16:30","howMany":1,"lat":41.735262,"lng":-70.3847694,"obsValid":false,"obsReviewed":false,"locationPrivate":false,"subId":"S164730275"},{"speciesCode":"greegr","comName":"Great
        Egret","sciName":"Ardea alba","locId":"L5187014","locName":"Sandy Neck--Gate
        House","obsDt":"2024-03-13 16:30","howMany":1,"lat":41.735262,"lng":-70.3847694,"obsValid":false,"obsReviewed":false,"locationPrivate":false,"subId":"S164730275"}]'
  recorded_at: 2024-03-14 06:12:22 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/US-OH/recent/notable?maxResults=2&includeProvisional=true&hotspot=true&detail=full
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"speciesCode":"greegr","comName":"Great Egret","sciName":"Ardea alba","locId":"L626153","locName":"Delaware
        Wildlife Area--Panhandle Rd.","obsDt":"2024-03-13 19:15","howMany":1,"lat":40.3635499,"lng":-83.0482292,"obsValid":false,"obsReviewed":false,"locationPrivate":false,"subId":"S164745269","subnational2Code":"US-OH-041","subnational2Name":"Delaware","subnational1Code":"US-OH","subnational1Name":"Ohio","countryCode":"US","countryName":"United
        States","userDisplayName":"Edward Hicks","obsId":"OBS1979509623","checklistId":"CL22484","presenceNoted":false,"hasComments":false,"firstName":"Edward","lastName":"Hicks","hasRichMedia":false},{"speciesCode":"pecsan","comName":"Pectoral
        Sandpiper","sciName":"Calidris melanotos","locId":"L506135","locName":"Shreve
        Fish Pond","obsDt":"2024-03-13 18:02","howMany":2,"lat":40.7253399,"lng":-81.9983482,"obsValid":true,"obsReviewed":true,"locationPrivate":false,"subId":"S164734165","subnational2Code":"US-OH-169","subnational2Name":"Wayne","subnational1Code":"US-OH","subnational1Name":"Ohio","countryCode":"US","countryName":"United
        States","userDisplayName":"Ruby Mast","obsId":"OBS1979411785","checklistId":"CL22485","presenceNoted":false,"hasComments":false,"firstName":"Ruby","lastName":"Mast","hasRichMedia":false}]'
  recorded_at: 2024-03-14 06:12:22 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/geo/recent/notable?back=30&maxResults=2&lat=42&lng=-70
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"speciesCode":"brwhaw","comName":"Broad-winged Hawk","sciName":"Buteo
        platypterus","locId":"L29842831","locName":"356 Log Cabin Rd, Arundel US-ME
        (43.4225,-70.5098)","obsDt":"2024-03-13 20:35","howMany":1,"lat":43.422537,"lng":-70.509782,"obsValid":false,"obsReviewed":false,"locationPrivate":true,"subId":"S164747372"},{"speciesCode":"winwre3","comName":"Winter
        Wren","sciName":"Troglodytes hiemalis","locId":"L23166129","locName":"195
        Old Dublin Rd, Hancock US-NH 42.96869, -72.01912","obsDt":"2024-03-13 19:02","howMany":1,"lat":42.968687,"lng":-72.019119,"obsValid":false,"obsReviewed":false,"locationPrivate":true,"subId":"S164741090"}]'
  recorded_at: 2024-03-14 06:12:22 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/US-OH/recent/notable?maxResults=2&r=US-OH%2CUS-OH%2CUS-OH%2CUS-OH%2CUS-OH%2CUS-OH%2CUS-OH%2CUS-OH%2CUS-OH%2CUS-OH
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"speciesCode":"greegr","comName":"Great Egret","sciName":"Ardea alba","locId":"L626153","locName":"Delaware
        Wildlife Area--Panhandle Rd.","obsDt":"2024-03-13 19:15","howMany":1,"lat":40.3635499,"lng":-83.0482292,"obsValid":false,"obsReviewed":false,"locationPrivate":false,"subId":"S164745269"},{"speciesCode":"comrav","comName":"Common
        Raven","sciName":"Corvus corax","locId":"L15979485","locName":"Phoebe Hollow","obsDt":"2024-03-13
        18:40","howMany":1,"lat":39.2518549,"lng":-82.2453525,"obsValid":true,"obsReviewed":true,"locationPrivate":true,"subId":"S164740850"}]'
  recorded_at: 2024-03-14 06:12:22 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/geo/recent/notable?maxResults=2&lat=42&lng=-70
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<<redacted>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"speciesCode":"brwhaw","comName":"Broad-winged Hawk","sciName":"Buteo
        platypterus","locId":"L29842831","locName":"356 Log Cabin Rd, Arundel US-ME
        (43.4225,-70.5098)","obsDt":"2024-03-13 20:35","howMany":1,"lat":43.422537,"lng":-70.509782,"obsValid":false,"obsReviewed":false,"locationPrivate":true,"subId":"S164747372"},{"speciesCode":"winwre3","comName":"Winter
        Wren","sciName":"Troglodytes hiemalis","locId":"L23166129","locName":"195
        Old Dublin Rd, Hancock US-NH 42.96869, -72.01912","obsDt":"2024-03-13 19:02","howMany":1,"lat":42.968687,"lng":-72.019119,"obsValid":false,"obsReviewed":false,"locationPrivate":true,"subId":"S164741090"}]'
  recorded_at: 2024-03-14 06:12:22 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
